#replace with .env and add needed params

NUXT_AUTH_SECRET=
NUXT_AUTH_ORIGIN=

NUXT_PUBLIC_OAUTH_GITHUB_CLIENT_ID=
NUXT_OAUTH_GITHUB_CLIENT_SECRET_ID=

NUXT_PUBLIC_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET_ID=

NUXT_PUBLIC_OAUTH_LINKEDIN_CLIENT_ID=
NUXT_OAUTH_LINKEDIN_CLIENT_SECRET_ID=