#replace with .env and add needed params

#this should be a random string for token generation as described here: https://auth.sidebase.io/guide/authjs/nuxt-auth-handler#secret
NUXT_AUTH_SECRET=
#this is an origin of your app, e.g. if developed locally that will be http://localhost:3000, in prod - https://google.com
NUXT_AUTH_ORIGIN=

#this is a section for OAuth id's:
# the PUBLIC_ is for public section of the NUXT config runtime
# github
NUXT_PUBLIC_OAUTH_GITHUB_CLIENT_ID=
NUXT_OAUTH_GITHUB_CLIENT_SECRET_ID=

# google
NUXT_PUBLIC_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET_ID=

# linked
NUXT_PUBLIC_OAUTH_LINKEDIN_CLIENT_ID=
NUXT_OAUTH_LINKEDIN_CLIENT_SECRET_ID=